<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swift-objc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E03EE3C51C802F3E00161D02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E03EE3DE1C802F3E00161D02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E03EE3E91C802F3E00161D02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
